<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Index Page</title>
	</head>
	<body>
		<h1>All the games:</h1>
		<ul>
			<% games.forEach(function(game, i) { %>
			<li><%= game.name %> is a <%= game.rating %> <a href="/games/<%= i %>">Delete</a></li>
			<% }) %>
		</ul>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="/js/script.js"></script>
	</body>
</html>