<!DOCTYPE html>
<html lang="en">
	<head>
		<title>New Page</title>
	</head>
	<body>
		<h1>Please add a game:</h1>
		<ul>
			<form method="POST" action="/games">
				<input type="text" name="name" placeholder="Game Title..." /><br />
				<input type="text" name="rating" placeholder="Rating (1-10)" /><br />
				<input type="submit" value="Add!" />
			</form>
		</ul>
	</body>
</html>